<div style="margin: 0 1%;">
</div>
<div class="p-6 overflow-scroll px-0" style="margin: 0 1%;height: 34rem;">
  <table class="mt-4 w-full min-w-max table-auto text-left">
    <thead>
    <tr>
      <th
        class="cursor-pointer border-y border-blue-gray-100 bg-blue-gray-50/50 p-4 transition-colors hover:bg-blue-gray-50">
        <p
          class="antialiased font-sans text-sm text-blue-gray-900 flex items-center justify-between gap-2 font-normal leading-none opacity-70">
          Id PromotionModel</p>
      </th>
      <th
        class="cursor-pointer border-y border-blue-gray-100 bg-blue-gray-50/50 p-4 transition-colors hover:bg-blue-gray-50">
        <p
          class="antialiased font-sans text-sm text-blue-gray-900 flex items-center justify-between gap-2 font-normal leading-none opacity-70">
          CategoryModel</p>
      </th>
      <th
        class="cursor-pointer border-y border-blue-gray-100 bg-blue-gray-50/50 p-4 transition-colors hover:bg-blue-gray-50">
        <p
          class="antialiased font-sans text-sm text-blue-gray-900 flex items-center justify-between gap-2 font-normal leading-none opacity-70">
          PromotionModel</p>
      </th>
      <th
        class="cursor-pointer border-y border-blue-gray-100 bg-blue-gray-50/50 p-4 transition-colors hover:bg-blue-gray-50">
        <p
          class="antialiased font-sans text-sm text-blue-gray-900 flex items-center justify-between gap-2 font-normal leading-none opacity-70">
          Description</p>
      </th>
      <th
        class="cursor-pointer border-y border-blue-gray-100 bg-blue-gray-50/50 p-4 transition-colors hover:bg-blue-gray-50">
        <p
          class="antialiased font-sans text-sm text-blue-gray-900 flex items-center justify-between gap-2 font-normal leading-none opacity-70">
          Pourcentage</p>
      </th>
      <th
        class="cursor-pointer border-y border-blue-gray-100 bg-blue-gray-50/50 p-4 transition-colors hover:bg-blue-gray-50">
        <p
          class="antialiased font-sans text-sm text-blue-gray-900 flex items-center justify-between gap-2 font-normal leading-none opacity-70">
          Date De Debut De PromotionModel</p>
      </th>
      <th
        class="cursor-pointer border-y border-blue-gray-100 bg-blue-gray-50/50 p-4 transition-colors hover:bg-blue-gray-50">
        <p
          class="antialiased font-sans text-sm text-blue-gray-900 flex items-center justify-between gap-2 font-normal leading-none opacity-70">
          Date De Fin De PromotionModel</p>
      </th>
      <th
        class="cursor-pointer border-y border-blue-gray-100 bg-blue-gray-50/50 p-4 transition-colors hover:bg-blue-gray-50">
        <p
          class="antialiased font-sans text-sm text-blue-gray-900 flex items-center justify-between gap-2 font-normal leading-none opacity-70">
          Status</p>
      </th>
      <th
        class="cursor-pointer border-y border-blue-gray-100 bg-blue-gray-50/50 p-4 transition-colors hover:bg-blue-gray-50"
        style="width: 14rem;">
        <p
          class="antialiased font-sans text-sm text-blue-gray-900 flex items-center justify-between gap-2 font-normal leading-none opacity-70">
          Actions</p>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr
      *ngFor="let promotion of promotions"
      id="promotion{{promotion.id}}"
    >
      <td class="p-4 border-b border-blue-gray-50">
        <p
          class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal">{{promotion.id}}</p>
      </td>
      <td class="p-4 border-b border-blue-gray-50">
        <p
          *ngFor="let category of promotion.categories"
          class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal">
          <button class="inline-flex items-center rounded-lg px-4 py-2 bg-amber-500 shadow-md text-blue-gray-900 font-medium hover:shadow-lg">
            {{category.name}}
          </button>
        </p>
      </td>
      <td class="p-4 border-b border-blue-gray-50">
        <p
          class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal">{{promotion.name}}</p>
      </td>
      <td class="p-4 border-b border-blue-gray-50">
        <p
          class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal">{{promotion.description}}</p>
      </td>
      <td class="p-4 border-b border-blue-gray-50">
        <p
          class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal">{{promotion.discountPercentage}}%</p>
      </td>
      <td class="p-4 border-b border-blue-gray-50">
        <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal">{{promotion.created_at}}</p>
      </td>
      <td class="p-4 border-b border-blue-gray-50">
        <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal">{{promotion.ending_at}}</p>
      </td>
      <td style="width: 15rem;" class="p-4 border-b border-blue-gray-50">
        <div class="w-max">
          <div *ngIf="promotion.status == 'ACCEPTED'"
               class="relative grid items-center font-sans font-bold uppercase whitespace-nowrap select-none bg-green-500/20 text-green-900 py-1 px-2 text-xs rounded-md"
               style="opacity: 1;">
            <span class="">{{promotion.status}}</span>
          </div>
          <div *ngIf="promotion.status == 'PENDING'"
               class="relative grid items-center font-sans font-bold uppercase whitespace-nowrap select-none bg-amber-500/20 text-amber-900 py-1 px-2 text-xs rounded-md"
               style="opacity: 1;">
            <span class="">{{promotion.status}}</span>
          </div>
          <div *ngIf="promotion.status == 'REFUSED'"
               class="relative grid items-center font-sans font-bold uppercase whitespace-nowrap select-none bg-red-500/20 text-red-900 py-1 px-2 text-xs rounded-md"
               style="opacity: 1;">
            <span class="">{{promotion.status}}</span>
          </div>
        </div>
      </td>
      <td class="p-4 border-b border-blue-gray-50">
        <span *ngIf="promotion.status == 'PENDING'">
          <button
            (click)="acceptPromotion(promotion.id)"
            class="inline-flex items-center px-4 py-2 bg-green-600 hover:bg-green-700 text-white text-sm font-medium rounded-md">
              <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                             width="20px" viewBox="0 0 1280.000000 1084.000000"
                             preserveAspectRatio="xMidYMid meet">
                <g transform="translate(0.000000,1084.000000) scale(0.100000,-0.100000)"
                   fill="#ffffff" stroke="none">
                <path d="M7380 7375 l-2939 -2939 -975 972 c-536 535 -981 972 -988 972 -18 0
                -1938 -1922 -1938 -1940 0 -8 877 -893 1950 -1965 l1950 -1950 3906 3905
                c2148 2148 3909 3912 3914 3921 7 12 -201 225 -966 990 l-974 974 -2940 -2940z"/>
                </g>
              </svg>
            Accept
          </button>
          <button (click)="refusePromotion(promotion.id)" class="inline-flex items-center px-4 py-2 bg-red-600 hover:bg-red-700 text-white text-sm font-medium rounded-md">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
            </svg>
            Refuse
          </button>
        </span>
        <span *ngIf="promotion.status != 'PENDING'">This Promotion is {{promotion.status}}</span>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<nav aria-label="Page navigation example">
  <ul class="inline-flex -space-x-px text-base h-10">
    <li>
      <a href="#" class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Previous</a>
    </li>
    <li
      *ngFor="let page of [].constructor(this.totalPages); let i = index"
      (click)="handlePageChange(i)"
    >
      <a
        class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
        {{i+1}}
      </a>
    </li>
    <!--      <li>-->
    <!--        <a href="#" aria-current="page" class="flex items-center justify-center px-4 h-10 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">3</a>-->
    <!--      </li>-->
    <li>
      <a href="#" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Next</a>
    </li>
  </ul>
</nav>

