<div class="flex justify-center" style="margin: 0 1%;">
  <a href="RR/AddProduct">
    <button type="button" class="flex justify-center items-center px-4 py-3 bg-blue-600 rounded-md text-white outline-none focus:ring-4 shadow-lg transform active:scale-75 transition-transform">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 " viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
      </svg>
      Add Product
    </button>
  </a>
</div>
<div style="margin: 0 1%;">
</div>
<div class="p-6 overflow-scroll px-0" style="margin: 0 1%;height: 34rem;">
  <table class="mt-4 w-full min-w-max table-auto text-left">
    <thead>
    <tr>
      <th
        class="cursor-pointer border-y border-blue-gray-100 bg-blue-gray-50/50 p-4 transition-colors hover:bg-blue-gray-50">
        <p
          class="antialiased font-sans text-sm text-blue-gray-900 flex items-center justify-between gap-2 font-normal leading-none opacity-70">
          Id Produit</p>
      </th>
      <th
        class="cursor-pointer border-y border-blue-gray-100 bg-blue-gray-50/50 p-4 transition-colors hover:bg-blue-gray-50">
        <p
          class="antialiased font-sans text-sm text-blue-gray-900 flex items-center justify-between gap-2 font-normal leading-none opacity-70">
          Name</p>
      </th>
      <th
        class="cursor-pointer border-y border-blue-gray-100 bg-blue-gray-50/50 p-4 transition-colors hover:bg-blue-gray-50">
        <p
          class="antialiased font-sans text-sm text-blue-gray-900 flex items-center justify-between gap-2 font-normal leading-none opacity-70">
          Description</p>
      </th>
      <th
        class="cursor-pointer border-y border-blue-gray-100 bg-blue-gray-50/50 p-4 transition-colors hover:bg-blue-gray-50">
        <p
          class="antialiased font-sans text-sm text-blue-gray-900 flex items-center justify-between gap-2 font-normal leading-none opacity-70">
          Price</p>
      </th>
      <th
        class="cursor-pointer border-y border-blue-gray-100 bg-blue-gray-50/50 p-4 transition-colors hover:bg-blue-gray-50">
        <p
          class="antialiased font-sans text-sm text-blue-gray-900 flex items-center justify-between gap-2 font-normal leading-none opacity-70">
          Quantity</p>
      </th>
      <th
        class="cursor-pointer border-y border-blue-gray-100 bg-blue-gray-50/50 p-4 transition-colors hover:bg-blue-gray-50">
        <p
          class="antialiased font-sans text-sm text-blue-gray-900 flex items-center justify-between gap-2 font-normal leading-none opacity-70">
          Category</p>
      </th>
      <th
        class="cursor-pointer border-y border-blue-gray-100 bg-blue-gray-50/50 p-4 transition-colors hover:bg-blue-gray-50"
        style="width: 14rem;">
        <p
          class="antialiased font-sans text-sm text-blue-gray-900 flex items-center justify-between gap-2 font-normal leading-none opacity-70">
          Actions</p>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr
      *ngFor="let product of products"
      id="product{{product.id}}"
    >
      <td class="p-4 border-b border-blue-gray-50">
        <p
          class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal">{{product.id}}</p>
      </td>
      <td class="p-4 border-b border-blue-gray-50">
        <p
          class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal">{{product.name}}</p>
      </td>
      <td class="p-4 border-b border-blue-gray-50">
        <p
          class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal">{{product.description}}</p>
      </td>
      <td class="p-4 border-b border-blue-gray-50">
        <p
          class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal">{{product.price}}</p>
      </td>
      <td class="p-4 border-b border-blue-gray-50">
        <p
          class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal">{{product.quantity}}</p>
      </td>
      <td class="p-4 border-b border-blue-gray-50">
        <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal">{{product.category.name}}</p>
      </td>
      <td class="p-4 border-b border-blue-gray-50">
          <button
            (click)="deleteProduct(product.id)"
            class="inline-flex items-center px-4 py-2 bg-red-600 hover:bg-red-700 text-white text-sm font-medium rounded-md">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
            </svg>
            Delete
          </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

